.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #000;
  color: #fff;

  .logo {
    img {
      width: 100%;
      height: auto;
      max-width: 200px;
      max-height: 100px; 
      object-fit: cover;
      margin-bottom: 20px;
    }
  }

  .nav-menu {
    margin-right: 35px;
    ul {
      list-style: none;
      display: flex;
      margin: 0;

      li {
        margin-right: 20px;

        a {
          text-decoration: none;
          color: #fff;
          font-weight: bold;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

// Responsive styles using Bootstrap classes
@media (max-width: 768px) {
  .main-header {
    flex-direction: column;

    .logo-section, .center-control-buttons, .profile-section {
      width: 100%;
      text-align: center;
      margin-bottom: 15px;
    }

    .nav-menu {
      ul {
        flex-direction: column;

        li {
          margin-right: 0;
          margin-bottom: 10px;
        }
      }
    }
  }
}
