<header class="main-header container-fluid">
  <div class="logo-section col-md-3">
    <div class="logo">
      <img src="../../assets/logo.jpeg" alt="vietpham's logo">
    </div>
  </div>
  <div class="center-control-buttons col-md-6">
    <nav class="nav-menu">
      <ul class="d-flex justify-content-center">
        <li><a routerLink="/">About</a></li>
        <li><a routerLink="/">Journey</a></li>
        <li><a routerLink="/">Works</a></li>
        <li><a routerLink="/">Blog</a></li>
      </ul>
    </nav>
  </div>
  <div class="profile-section col-md-3">
    <nav class="nav-menu">
      <ul class="d-flex justify-content-end">
        <li><a href="https://github.com/vietpham2310">Github</a></li>
        <li><a href="https://www.facebook.com/vietpham102301/">Facebook</a></li>
        <li><a href="https://www.youtube.com/channel/UC4W1t2M53mDZZF4ewDXRxIA">Youtube</a></li>
        <li><a href="https://www.instagram.com/vietpham1023/">Instagram</a></li>
        <li><a href="https://www.tiktok.com/@vietpham1023">Tiktok</a></li>
      </ul>
    </nav>
  </div>
</header>
