<header class="main-header">
  <div class="logo-section">
    <div class="logo">
      <img src="./../assets/logo.jpeg" alt="vietpham's logo">
    </div>
  </div>
  <div class="center-control-buttons">
    <nav class="nav-menu">
      <ul>
        <li><a routerLink="/">About</a></li>
        <li><a routerLink="/">Journey</a></li>
        <li><a routerLink="/">Works</a></li>
        <li><a routerLink="/">Blog</a></li>
      </ul>
    </nav>
  </div>
  <div class="profile-sectio">
    <nav class="nav-menu">
      <ul>
        <li><a href="https://github.com/vietpham2310">Github</a></li>
        <li><a href="https://www.facebook.com/vietpham102301/">Facebook</a></li>
        <li><a href="https://www.youtube.com/channel/UC4W1t2M53mDZZF4ewDXRxIA">Youtube</a></li>
        <li><a href="https://www.instagram.com/vietpham1023/">Instagram</a></li>
        <li><a href="https://www.tiktok.com/@vietpham1023">Tiktok</a></li>
      </ul>
    </nav>
  </div>
</header>

