<section class="profile-section container-fluid">
  <div class="row">
    <div class="col-md-6 section-1">
      <div class="profile-header">
        <h1>Viet Pham</h1>
        <p>Software Engineer</p>
      </div>
      <div class="profile-content">
        <p>
          Welcome to my profile! I'm passionate about software development and AI tech with expertise in Java, Go, C++, Python, and more.
        </p>
      </div>
    </div>
    <div class="col-md-6 section-2">
      <div class="profile-image">
        <img src="../../assets/me2.jpeg" alt="Your Name">
      </div>
    </div>
  </div>
  <div class="worked-with">
    <h2>Worked With</h2>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-3">
        <div class="content-box">
          <p>C++</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="content-box">
          <p>Golang</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="content-box">
          <p>Java</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="content-box">
          <p>Python</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="content-box">
          <p>SQL</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="content-box">
          <p>NoSQL</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="content-box">
          <p>Angular</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="content-box">
          <p>CNN Model</p>
        </div>
      </div>
    </div>
  </div>
  
  
  
</section>
