.profile-section {
  background-color: #000;

  .section-1,
  .section-2 {
    padding: 20px;
    text-align: center;
  }

  .section-1 {
    font-family: 'IBM Plex Mono', monospace;
    color: #fff; 
    margin-top: 130px;

    .profile-header {
      margin-bottom: 10px;

      h1 {
        font-family: 'IBM Plex Mono', monospace;
        font-size: 2em;
      }

      p {
        font-size: 1.5em;
        color: #999;
      }
    }

    .profile-content {
      p {
        font-size: 1.2em;
        color: #bbb;
      }
    }
  }

  .section-2 {
    .profile-image {
      img {
        border-radius: 50%;
        width: 70%; /* Make the image fill its container */
        height: 70%; /* Maintain aspect ratio */
        max-height: 700px; /* Set a maximum height as needed */
        margin-bottom: 20px;
      }
    }
  }

  .worked-with {
    padding: 20px;
    text-align: center;
    color: #fff;
    font-family: 'IBM Plex Mono', monospace;

    h2 {
      font-size: 1.5em;
      margin-bottom: 10px;
    }
  }

  .center-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    // height: 100vh; // Adjust as needed
  }
  
  .tech-stacks {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; // Adjust as needed for spacing between content boxes
  }
  
  .content-box {
    flex: 1;
    min-width: 100px; // Set a minimum width for content boxes
    border: 1px solid #ffffff; // Add a border
    padding: 10px; // Add padding for better appearance
    text-align: center;
  }
  
  
  .content-box {
    // width: 120px;
    // border-radius: 8px;
    margin-bottom: 30px;
    // border: 0.1px solid #ccc;
    padding: 10px;
    margin-right: 30px;
    font-size: 1.0em;
    color: #bbb;
    padding-top: 20px;
    // text-align: center;
    font-family: 'IBM Plex Mono', monospace;
  }
  
}
